.jumbotron{
	background-color:blue;
	color:white;
	font-family: capitalize;
	margin-top: 50px;
}

footer{
	padding-top: 10px 10px 0 10px;
	background-color: blue;
	color: white;
	margin-bottom: 0px;
	margin-top:10px;
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}
