@blue: #1F618D;

.margenes(@top: 0px, @bottom: 0px){
	margin-top:@top;
	margin-bottom:@bottom;
}

.jumbotron {
  background-color: @blue;
  color: white;
  font-family: capitalize;
  .margenes(50px, 0px);
  }

footer {
  padding-top: 10px 10px 0 10px;
  background-color: @blue;
  color: white;
  margin-bottom: 0px;
  .margenes(10px, 0px);
}

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
